.header-bg {
	background: #192640;
}

.body-bg {
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(35, 68, 101, 1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(35, 68, 101, 1) 100%);
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(35, 68, 101, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#234465", GradientType=1);
}

a {
	font-weight: 500;
	text-decoration: inherit;
}

a:hover {
	color: #758bcc;
}

#root {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 0.85em !important;
}
